input.date { 
	width: 47px;
	*width:40px; /* IE */
}

form.index_form input.time { 
	width:40px; 
}

img.helpIcon {
	cursor: help;
	float: right;
	margin-top: -25px;
}

div.help {
	color: #888;
	display: none;
	font-size: 11px;
	margin: 0 33px 2px 265px;
	padding: 0 !important;
	text-align: left;
	vertical-align: top;
	white-space: normal;
	width: 220px;
}

.reqField {
	color: #F00;
}

div.error {
	background: url(/hr_competency/images/error_bg.gif) #FFF no-repeat;
	color: #F00;
	font-size: 11px;
	margin: 0 33px 10px 265px;
	padding-left: 12px;
	vertical-align: top;
	white-space: normal;
	width: 205px;
}