input.date { 
	width: 47px;
	*width:40px; /* IE */
}

form.index_form input.time { 
	width:40px; 
}

.helpIcon {
	cursor: help;
	float: right;
	margin-top: -2.5em;
}

.help {
	color: #888;
	display: none;
	font-size: 11px;
	float: right;
	margin: -10px 33px 5px 0;
	padding: 0 !important;
	text-align: left;
	vertical-align: top;
	white-space: normal;
	width: 220px;
}

.reqField {
	color: #F00;
}

div.error {
	color: #F00;
	font-size: 11px;
	vertical-align: top;
	white-space: normal;
	background-color: #FFFFFF;
}